@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    overflow-x: hidden;
}

/*  --------- CABECERA --------- */

/* Contenedor general */
.cabecera {
    block-size: 700px;
    inline-size: 100vw;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.40)), url(../img/cabecera.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .banner {
    block-size: 939px;
    inline-size: 100%;
    position: absolute;
    object-fit: cover;
    filter: brightness(0.9);
} */

/* Contenedor de contenido */
.cabecera-wrapper {
    text-align: center;
    color: white;
    /* z-index: 2; */
    position: relative;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    block-size: 100%;
    inline-size: 100%;
}

/* Logo */
.hotel-paraiso-logo {
    margin-block-start: 40px;
    max-inline-size: 120px;
}

/* Wrapper de "Un lugar especial" */
.cabecera-texto-1-wrapper {
    margin-block-start: 100px;
    min-inline-size: 500px;
    block-size: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecera-p-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    inline-size: 40%;
    block-size: 100%;
}

/* "Un lugar especial" */
.cabecera-p-wrapper p {
    display: inline-flex;
    font-size: 1.3em;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.cabecera-lineas {
    display: inline-flex;
    inline-size: 15%;
    align-items: center;
}


#linea-1 {
    /* justify-content: right; */
    position: relative
}

#linea-1 svg {
    position: absolute;
    inset-inline-end: 0; 
}

/* "Tu evento en el paraiso" */
.cabecera-texto-2 {
    font-size: 3.5em;
    font-style: italic;
    font-weight: 800;
    margin-block: 0;
    color: white;
}

/* Boton de "Contactanos" */
.cabecera-boton {
    border: 3px solid white;
    border-radius: 50px;
    padding: 10px 30px;
    position: absolute;
    inset-block-end: 100px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 1.15em;
    transition: all 0.5s;
    text-decoration: none;
}

.cabecera-boton:hover {
    background: white;
    color: black;
    cursor: pointer;
}

/*  --------- INSTALACIONES --------- */

.instalaciones-fotos {
    display: none;
}

/* Contenedor general*/
.instalaciones {
    margin-block-end: 70px;
    margin-block-start: 120px;
}

/* Contenedor de contenido */
.instalaciones-wrapper {
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 1.57em;
    font-weight: normal;
    position: relative;
    display: inline-block;
    margin-block-start: 0;
}

h2::after {
    content: '';
    display: inline-block;
    inline-size: 50px;
    height: 3px;
    background: #601A39;
    position: absolute;
    inset-block-start: 100%;
    inset-inline-start: 0;
}

.instalaciones-wrapper p {
    font-size: 1em;
    margin-block-end: 50px;
    color: #707070;
    padding-inline: 30px;
}

.movil-slider {
    inline-size: 100%;
    block-size: 500px;
    overflow: hidden;
}

.movil-slider-wrap {
    display: flex;
    inline-size: 400%;
    block-size: 100%;
    margin-inline-start: -100%;
}

.movil-slider-item {
    inline-size: 100%;
}

.instalaciones-wrapper img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

/*  --------- SLIDER --------- */

.slider {
    position: relative;
    margin-block-end: 70px;
}

.scroll-container {
    /* border: 5px solid red; */
    block-size: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    inline-size: 100%;
}

.scroll-container-wrap {
    /* border: 5px solid yellow; */
    transition: all 0.8s;
    inline-size: 100%;
}

.scroll-page-container {
    /* border: 5px solid purple; */
    inline-size: 100%;
    display: flex;
    flex-direction: column;
}

.slider-info {
    inline-size: 100%;
}

.imagen-principal {
    block-size: 310px;
    inline-size: 100%;
    object-fit: cover;
    /* border: 2px solid red; */
}

.slider-info-container {
    /* border: 1px solid red; */
    box-sizing: border-box;
    block-size: 305px;
    inline-size: 100%;
    background: #f2ece6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-block-start: -5px;
    padding: 20px;
}


.icono {
    inline-size: 50px;
}

.slider-bullet-list-container {
    position: absolute;
    inset-block-start: 39%;
    inset-inline-end: 0;
}

.slider-bullet-list {
    background: white;
    inline-size: 30px;
    block-size: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.slider-bullet {
    display: block;
    inline-size: 15px;
    block-size: 15px;
    background: #D3D3D3;
    border-radius: 50%;
}

.slider-bullet:hover {
    background: #601A39;
    cursor: pointer;
}


/*  --------- "UN EVENTO MEMORABLE" BANNER --------- */

.un-evento-memorable {
    inline-size: 100%;
    block-size: 280px;
    position: relative;
    margin-block-end: 120px;
}

.un-evento-memorable img {
    position: absolute;
    filter: brightness(0.7);
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.un-evento-memorable-container {
    display: flex;
    block-size: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    position: relative;
}

.un-evento-memorable h1 {
    font-size: 2.5em;
    font-style: italic;
    font-weight: 800;
    color: white;
    margin-block-start: -10px;
}

.un-evento-memorable a {
    padding: 7px 70px;
    font-size: 1.1em;
    border: 3px solid white;
    border-radius: 50px;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-block-start: -50px;
}

.un-evento-memorable a:hover {
    background: white;
    color: black;
}

/*  --------- ESCENARIOS --------- */

.escenarios {
    margin-block-end: 120px;
}

.escenarios-container {
    inline-size: 100%;
    margin: auto;
    text-align: center;
}

.escenarios-container p {
    inline-size: 65%;
    margin: auto;
    margin-block-end: 47px;
}

.escenarios-galleria-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    gap: 10px;
}

.escenarios-galleria-container img {
    inline-size: 100%;
    margin-block-end: 5px;
    block-size: 100%;
    object-fit: cover;
}

#escenario-1 {
    grid-row-start: span 2;
    grid-column-start: span 2;
}

#escenario-2 {
    grid-column-start: span 2;
}

.escenarios-galleria-container {
    display: none;
}

.escenarios-slider {
    block-size: 600px;
}

.escenarios-slider-container {
    display: flex;
    inline-size: 400%;
    block-size: 100%;
    margin-inline-start: -100%;
}

.escenarios-slider-item {
    inline-size: 100%;
}

.escenarios-slider-container img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

/*  --------- PREGUNTAS --------- */

.preguntas {
    block-size: 500px;
    position: relative;
    overflow: hidden;
    padding: 30px;
    box-sizing: border-box;
}

.preguntas::after {
    content:"";
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: rgba(204,122,103,0.1);
    z-index: 1;
}

.preguntas-imagen {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    object-position: left top;
}

.preguntas-container {
    position: relative;
    border: 5px solid white;
    inline-size: 99%;
    block-size: 99%;
    margin: auto; 
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preguntas-container h2 {
    font-size: 1.5em;
    font-weight: normal;
    margin-block-end: 10px;
}

.preguntas-container p {
    color: #601A39;
    margin-block-end: 30px;
}

.preguntas-container h2::after {
    display: none;
}

.numeros-contacto {
    background: gray;
    max-inline-size: 300px;
    min-inline-size: 180px;
    block-size: 50px;
    border-radius: 30px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    margin-block-end: 10px;
}

.numeros-contacto:nth-child(1n) {
    background: #516E3C;
}

.numeros-contacto:nth-child(2n) {
    background: #601A39;
}

.numeros-contacto-iconos {
    inline-size: 20px;
    block-size: 20px;
    margin-inline-end: 10px;
    margin-block-start: 2px;
}

.numeros-contacto p {
    color: white;
    margin: 0;
}

/*  --------- FOOTER --------- */

footer {
    block-size: 700px;
    background-color: black;
    box-sizing: border-box;
    padding: 80px 50px 0 50px;
}

.footer-container {
    color: white;
    font-size: 0.9em;
    block-size: 430px;
}

.footer-contacto {
    display: inline-block;
    inline-size: 100%;
    margin: auto;
}

.footer-container h4 {
    margin: 0 0 40px 0;
    text-transform: uppercase;
}

.footer-icon-container {
    display: inline-block;
    inline-size: 20px;
}

.contacto-item {
    margin-block-end: 20px;
}

.contacto-item a {
    color: white;
    text-decoration: none;
}

.footer-ubicacion {
    margin-block-start: 20px;
    display: block;
    inline-size: 100%;
    vertical-align: top;
}

.footer-ubicacion p {
    display: inline-block;
    inline-size: 80%;
    margin: 0;
}

.footer-ubicacion .footer-icon-container {
    vertical-align: top;
}

hr {
    margin-block-start: 50px;
    margin-block-end: 40px;
    inline-size: 100%;
    block-size: 2px;
    border: 0;
    background: #A78D6B;
}

.footer-logo {
    inline-size: 150px;
}

.footer-info-adicional {
    position: relative;
    block-size: 160px;
}

.footer-logo {
    /* position: absolute; */
    inset-block-end: 0;
}

.footer-info-adicional p {
    inline-size: 100%;
    position: absolute;
    inset-inline-end: 0;
    inset-block-end: 0;
    margin: 0;
}

.footer-info-adicional a {
    color: #A78D6B;
    text-decoration: none;
}


/*  --------- MEDIA QUERY TABLET --------- */

@media (min-width: 600px) {
    .cabecera-texto-2 {
        font-size: 4.7em;
    }

    .instalaciones-fotos {
        display: flex;
        justify-content: space-evenly;
        inline-size: 80%;
        margin: auto;
        overflow: hidden;
    }

    .instalaciones-fotos img {
        inline-size: 23%;
    }
    
    .instalaciones-wrapper p {
        inline-size: 80%;
        margin: auto;
        padding-block-end: 65px;
    }

    .movil-slider {
        display: none;
    }

    /* 2DO SLIDER */

    .slider-info-container p {
        max-inline-size: 400px;
    }

}


/*  --------- MEDIA QUERY ESCRITORIO --------- */

@media (min-width: 1024px) {

    /*  --------- CABECERA --------- */

    /* Reducir tamaño del contenedor */
    .cabecera-wrapper {
        inline-size: 50%;
    }

    /* Aumentar el tamaño del logo */
    .hotel-paraiso-logo {
        max-inline-size: 120px;
    }

    .cabecera-p-wrapper {
        min-inline-size: 300px;
        font-size: 1.3em;
    }

    /* Generar espacio entre el titulo y el boton */
    .cabecera-texto-2 {
        margin-block: 1% 15%;
        font-size: 4.2em;
        line-height: 90px;
    }

    .cabecera-boton {
    border: 3px solid white;
    border-radius: 50px;
    padding: 10px 30px;
    }

    /*  --------- INSTALACIONES --------- */

    /* Contenedor general*/
    .instalaciones {
        margin-block-end: 121px;
        margin-block-start: 120px;
    }

    /* Contenedor de contenido */
    .instalaciones-wrapper {
        margin: auto;
        text-align: center;
    }

    h2 {
        font-size: 1.57em;
        font-weight: normal;
        position: relative;
        display: inline-block;
        margin-block-start: 0;
    }

    h2::after {
        content: '';
        display: inline-block;
        inline-size: 50px;
        height: 3px;
        background: #601A39;
        position: absolute;
        inset-block-start: 100%;
        inset-inline-start: 0;
    }

    .instalaciones-wrapper p {
        font-size: 1em;
        /* margin-block-end: 50px; */
        color: #707070;
        /* padding-inline: 30px; */
        inline-size: 50%;
    }

    .movil-slider {
        inline-size: 100%;
        block-size: 500px;
        overflow: hidden;
    }

    .movil-slider-wrap {
        display: flex;
        inline-size: 400%;
        block-size: 100%;
        margin-inline-start: -100%;
    }

    .movil-slider-item {
        inline-size: 100%;
    }

    .preguntas-container h2::after {
        display: inline-block;
    }

    
    /*  --------- SLIDER --------- */

       .scroll-container {
        display: flex;
        flex-direction: row;
    }

    .scroll-page-container {
        display: flex;
        flex-direction: row;
    }

    .imagen-principal {
        inline-size: 50%;
    }

    .imagen-principal {
        block-size: 610px;
    }

    .slider-info {
        inline-size: 50%;
    }
    
    .slider-info-container {
        block-size: 610px;
        padding: 100px;
        inline-size: 100%;
    }

    /*  --------- "UN EVENTO MEMORABLE" BANNER --------- */

    .un-evento-memorable {
        block-size: 250px;
    }

    .un-evento-memorable h1 {
        margin: 0;
        padding: 0;
        font-size: 3em;
    }

    /*  --------- ESCENARIOS --------- */

    .escenarios-container p {
        inline-size: 50%;
    }

    .escenarios-galleria-container {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 0.5fr);
        gap: 10px;
        padding: 10px;
        inline-size: 70%;
    }
    
    .escenarios-galleria-container img {
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover;
    }
    
    #escenario-1 {
        grid-row-start: span 2;
        grid-column-start: span 1;
    }
    
    #escenario-2 {
        grid-column-start: span 2;
    }

    .escenarios-slider {
        display: none;
    }


    /*  --------- PREGUNTAS --------- */

    .preguntas-container {
        margin-inline-start: 0;
        text-align: left;
        justify-content: left;
    }

    .preguntas-descripcion {
        inline-size: 300px;
    }

    .preguntas-contenido {
        margin-inline-start: 100px;
    }

    .numeros-contacto  {
        margin-inline-start: 0;
    }

    .preguntas-imagen {
        object-position: 0 0px;
    }

    /*  --------- FOOTER --------- */

    footer {
        block-size: 500px;
        background-color: black;
        box-sizing: border-box;
        padding: 80px 200px;
    }
    
    .footer-container {
        block-size: 350px;
        color: white;
        font-size: 0.9em;
    }
    
    .footer-contacto {
        display: inline-block;
        inline-size: 20%;
    }
    
    .footer-container h4 {
        margin: 0 0 40px 0;
        text-transform: uppercase;
    }
    
    
    .footer-icon-container {
        display: inline-block;
        inline-size: 20px;
    }
    
    .contacto-item {
        margin-block-end: 20px;
    }
    
    .contacto-item a {
        color: white;
        text-decoration: none;
    }
    
    .footer-ubicacion {
        display: inline-block;
        inline-size: 55%;
        vertical-align: top;
        margin-block-start: 0;
    }
    
    .footer-ubicacion p {
        display: inline-block;
        inline-size: 68%;
        margin: 0;
    }
    
    .footer-ubicacion .footer-icon-container {
        vertical-align: top;
    }
    
    hr {
        margin-block-start: 50px;
        margin-block-end: 40px;
        inline-size: 100%;
        block-size: 2px;
        border: 0;
        background: #A78D6B;
    }

    .footer-info-adicional {
        block-size: 80px;
    }

    .footer-logo {
        position: absolute;
        inset-block-end: 0;
    }
    
    .footer-info-adicional p {
        inline-size: 33%;
        position: absolute;
        inset-inline-end: 0;
        inset-block-end: 0;
    }
}
