@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}

/*  --------- CABECERA --------- */

/* Contenedor general */
.cabecera {
    block-size: 939px;
    background: url("../img/cabecera.jpg") no-repeat;
    background-position: 75%;
    background-size: cover;
    margin: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.banner {
    block-size: 939px;
    inline-size: 100%;
    position: absolute;
    object-fit: cover;
    filter: brightness(0.9);
}

/* Overley de banner */
/* .cabecera::after {
    content: '';
    display: block;
    inline-size: 100%;
    block-size: 100%;
    background: black;
    opacity: 0.07;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
} */

/* Contenedor de contenido */
.cabecera-wrapper {
    inline-size: 70%;
    block-size: 938px;
    margin: auto;
    text-align: center;
    color: white;
    z-index: 2;
    position: relative;
}

/* Wrapper de logo para modificar su width percentage respecto a si mismo */
.hotel-paraiso-logo-wrapper {
    display: inline-block;
    inline-size: 280px;
}

/* Logo */
.hotel-paraiso-logo {
    margin-block-start: 43px;
    inline-size: 70%;
}

/* Wrapper de "Un lugar especial" */
.cabecera-texto-1-wrapper {
    margin: auto;
    display: block;
    padding-block-start: 100px;
}

/* "Un lugar especial" */
.cabecera-texto-1 {
    font-size: 1.57em;
    text-transform: uppercase;
    margin: 0;
    padding-inline: 100px;
    position: relative;
    display: inline-block;
}

/* Lineas de decoracion */
 .cabecera-texto-1::before {
    content: '';
    display: inline-block;
    inline-size: 50px;
    block-size: 2px;
    background: white;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 0px;
}

.cabecera-texto-1::after {
    content: '';
    display: block;
    inline-size: 50px;
    block-size: 2px;
    background: white;
    position: absolute;
    inset-inline-end: 0;
    inset-block-end: 50%;
}

/* "Tu evento en el paraiso" */
.cabecera-texto-2 {
    font-size: 3.68em;
    font-style: italic;
    font-weight: 800;
    margin-block: 10px 108px;
    line-height: 70px;
}

/* Boton de "Contactanos" */
.cabecera-boton {
    background: transparent;
    border: 3px solid white;
    border-radius: 50px;
    padding: 20px 124px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 1.15em;
    transition: all 0.5s;
}

.cabecera-boton:hover {
    border: 3px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

/*  --------- INSTALACIONES --------- */

/* Contenedor general*/
.instalaciones {
    margin-block-end: 140px;
}

/* Contenedor de contenido */
.instalaciones-wrapper {
    margin: auto;
    text-align: center;
}

.instalaciones h2 {
    margin-block-start: 125px;
    font-size: 1.57em;
    font-weight: normal;
    position: relative;
    display: inline-block;
}

.instalaciones h2::after {
    content: '';
    display: inline-block;
    inline-size: 50px;
    height: 3px;
    background: #601A39;
    position: absolute;
    inset-block-start: 100%;
    inset-inline-start: 0;
}

.instalaciones-wrapper img {
    margin-block-start: 20px;
    border: 0;
    position: relative;
    filter: brightness(0.9);

}

.instalaciones-wrapper p {
    font-size: 1em;
    margin-block-end: 50px;
    color: #707070;
    padding-inline: 30px;
}

/*  --------- MEDIA QUERY ESCRITORIO --------- */

@media (min-width: 1024px) {

    /*  --------- CABECERA --------- */

    /* Centrar imagen de cabecera */
    /* .cabecera {
        background-position: center;
    } */

    /* Reducir tamaño del contenedor */
    .cabecera-wrapper {
        inline-size: 50%;
    }

    /* Aumentar el tamaño del logo */
    .hotel-paraiso-logo {
        inline-size: 100%;
    }

    /* Generar espacio entre el logo y el texto de cabecera */
    .cabecera-texto-1-wrapper {
        padding-block-start: 188px;
    }

    /* Generar espacio entre el titulo y el boton */
    .cabecera-texto-2 {
        margin-block-end: 131px;
    }

    /*  --------- INSTALACIONES --------- */

    .instalaciones {
        block-size: 938px;
    }

    /* Reducir el tamaño del parrafo */
    .instalaciones-wrapper p {
        width: 60%;
        margin: auto;
    }

    /* Acomodar las imagenes en linea */
    .instalaciones-wrapper img {
        inline-size: 20%;
        margin-block-start: 65px;
        margin-inline-end: 15px;
    }
    
    
}
